<div class="dir-one">

<h3 class="state state-home" ui-sref="home" stateAct="home" ng-click="stateActive(stateAct)">HOME</h3>
<h4 class="state state-one" ui-sref="stateOne" stateAct="one" ng-click="stateActive(stateAct)">star wars</h4>
<h4 class="state state-two" ui-sref="stateTwo" stateAct="two" ng-click="stateActive(stateAct)">state two</h4>
<h4 class="state state-three" ui-sref="stateThree" stateAct="three" ng-click="stateActive(stateAct)">weather</h4>
<h4 class="state state-four"><a class="nixon-link" href="http://localhost:63342/NixonClone/html/index.html?_ijt=n1t2hnj4osrd7vnkg6hn23p7pd">nixon clone</a></h4>
    <img src="">
</div>